.pg-shlem-hero-wrap {
  background: url(../img/pg-serv-shlem-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 352px;
  & h1 {
    font-weight: 600;
    font-size: 62px;
    text-align: center;
    padding-top: 5px;
    margin-top: 32px;
    padding-right: 20px;
    @media screen and (max-width: 1200px) {
      font-size: 48px;
      margin-top: 18px;
      margin-bottom: 16px;
    }
    @media screen and (max-width: 992px) {
      font-size: 36px;
    }
  }
  @media screen and (max-width: 1366px) {
    height: 27vw;
  }
  @media screen and (max-width: 768px) {
    background: url(../img/serv-hero-sheno-mob.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    height: 87vw;
  }
  @media screen and (max-width: 600px) {
    height: 93vw;
  }
}

.pg-sheno-content__menu .pg-shlem-content-menu-one {
  width: 370px;
  &.active {
    &::before {
      top: 26px;
    }
  }
}

.pg-sheno-content__item {
  &.item-one-shlem {
    & ul {
      column-count: 1;
      column-gap: 0;
    }
  }
}
.pg-konech-content__content {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .pg-sheno-content__menu.pg-shlem-menu {
    display: none;
  }
  .pg-sheno-content__content.pg-shlem-cont {
    width: 100%;
  }
}
