.pg-konech-hero {
  padding-top: 50px;
  position: relative;
}
.pg-konech-hero-wrap {
  background: url(../img/pg-serv-konech-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 352px;
  & h1 {
    position: absolute;
    font-weight: 600;
    font-size: 62px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    width: 100%;
  }
}

.item-konech-one {
  border-bottom: none;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  & ul {
    column-count: 1;
    column-gap: 0;
  }
}
