main.about {
  &::before {
    top: 120px;
    right: 0;
  }
  /* Правый фон */
  &::after {
    top: 220px;
    left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .breadcrumbs {
    display: none;
  }
}

.pg-about-hero {
  & h1 {
    font-weight: 600;
    font-size: 62px;
    text-align: center;
    margin-bottom: 24px;
    margin-top: 32px;
    @media screen and (max-width: 768px) {
      font-size: 36px;
      margin-bottom: 16px;
      margin-top: 0;
    }
  }
}
.pg-about-hero-img {
  background: url(../img/lenta-blue.svg), url(../img/about-img.jpg),
    url(../img/lenta-yellow.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 130px, top, left 80px;
  background-size: 100%, 950px, 100%;
  height: 480px;
  @media screen and (max-width: 1400px) {
    height: 430px;
    background-position: left 170px, top, left 80px;
  }
  @media screen and (max-width: 1024px) {
    background-size: 100%, 95%, 100%;
    background-position: left 200px, top, left 80px;
    height: 45vw;
    // margin-left: 20px;
    // margin-right: 20px;
  }
  @media screen and (max-width: 768px) {
    background-size: 100%, 95%, 100%;
    background-position: left 130px, top, left 80px;
    height: 45vw;
  }
  @media screen and (max-width: 480px) {
    background-position: left 90px, top, left 80px;
  }
}
.pg-about-goal {
  margin-bottom: 110px;
  @media screen and (max-width: 480px) {
    margin-bottom: 40px;
  }
  & .container {
    max-width: 1100px;
    width: 100%;
    gap: 50px;
    align-items: center;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 24px;
    }
  }
  & div {
    width: 56%;
    & h2 {
      font-weight: 600;
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 12px;
    }
    & p {
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: 0;
      & b {
        font-weight: 700;
        color: #00a5a5;
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  & img {
    width: 43%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
}
.pg-about-benef {
  margin-bottom: 86px;
  & .container {
    max-width: 1100px;
    width: 100%;
  }
  & ul {
    display: flex;
    gap: 18px;
    align-items: stretch;
    align-content: stretch;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    & li {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 9px;
      align-items: stretch;
      align-content: stretch;
      width: 32%;
      @media screen and (max-width: 768px) {
        width: 48%;
        &:last-child {
          margin-top: 50px;
        }
      }
      @media screen and (max-width: 480px) {
        width: 100%;
        margin-top: 50px;
      }
    }
    & .icon {
      position: absolute;
      top: -50px;
      left: 0;
      height: 85px;
      z-index: -1;
    }
    & h3 {
      margin-top: 0;
      margin-bottom: 9px;
    }
    & p {
      margin-top: 0;
      margin-bottom: 0;
      flex-grow: 1;
    }
  }
}
