.pg-shrot-hero {
}
.pg-shrot-hero-wrap {
  background: url(../img/pg-serv-hero.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 360px;
  & h1 {
    font-weight: 600;
    font-size: 62px;
    text-align: center;
    padding-top: 5px;
    margin-top: 32px;
    @media screen and (max-width: 1024px) {
      font-size: 48px;
      margin-top: 18px;
      margin-bottom: 16px;
    }
  }
  @media screen and (max-width: 1366px) {
    height: 27vw;
  }
  @media screen and (max-width: 768px) {
    background: url(../img/serv-hero-sheno-mob.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    height: 87vw;
  }
}

.item-shrot-one {
  & i {
    font-weight: 500;
  }
}
.item-shrot-thre {
  & ul {
    column-count: 1;
    column-gap: 0;
  }
}
.item-shrot-five {
  & div {
    width: max-content;
    margin-top: 24px;
    display: flex;
    gap: 6px;
    align-items: center;
    border-radius: 38px;
    padding: 14px 24px;
    // width: 516px;
    // height: 48px;
    background: #edf9f9;
    font-weight: 600;
    // text-align: center;
    color: $accent-color;
    & p {
      color: $accent-color;
    }
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      width: 100%;
    }
  }
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
