:root {
  --primary-color: #ffffff;
  --accent-color: #00a5a5;
  --accent-color-2: rgba(0, 165, 165, 0.07);
  --accent-color-3: #fff0cf;
  --btn-color: #00a5a5;
  --btn-color-2: #ffb746;
  --primary-text-color: #12253a;
  --secondary-text-color: #63666f;
  /* --accent-text-color: #ffffff;  */
  /* --time: 250ms; */
  /* --cubic: cubic-bezier(0.4, 0, 0.2, 1); */
}
