.pagination {
  text-align: center;
}

.pagination-list {
  //   display: inline-block;
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.pagination-item {
  display: inline-block;
  margin-right: 5px;
}

.pagination-link {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  //   border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item.active .pagination-link {
  background-color: $accent-color;
  color: #fff;
}

.arrow {
  & a {
    font-size: 30px;
  }
}
