.advantages {
  position: relative;
  & h2 {
    margin-bottom: 36px;
    @media screen and (max-width: 1024px) {
      margin-bottom: 10px;
    }
  }
  &__item {
    width: 48%;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__item-wrap {
    gap: 56px;
    align-items: center;
    @media screen and (max-width: 1024px) {
      gap: 20px;
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  &__item-img {
    & img {
      max-width: 660px;
      width: 100%;
      max-height: 390px;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      border: 1px solid #000;
      @media screen and (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
      @media screen and (max-width: 768px) {
        max-height: 260px;
        height: 100%;
      }
    }
    & ul {
      margin-top: 16px;
      padding: 25px 36px;
      //   background-color: var(--accent-color-3);
      background: #fff0cf;
      border-radius: 20px;
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        gap: 36px;
      }
    }
    & ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // width: 105px;

      & h5 {
        font-size: 36px;
        font-weight: 700;
        line-height: 150%;
        margin: 0;
        & span {
          font-size: 30px;
        }
      }
      & p {
        line-height: 150%;
        text-align: center;
        margin: 0;
        max-width: 105px;
      }
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        flex-basis: calc(50% - 36px);
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: -40px;
    right: 0;
    width: 75px;
    height: 155px;
    background-image: url("/img/icon/bg3.svg");
    // background-position: 0 100px;
    z-index: -1;
  }
}
.advantages__item-wrap {
}
.advantages__item-list {
  & li {
    width: 100%;
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
    & .advantages__list-img-wrap {
      width: 80px;
      height: 80px;
      padding: 28px;
      background: rgba(0, 165, 165, 0.07);
      //   background: var(--accent-color-2);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        width: 32px;
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
      @media screen and (max-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        display: flex;
      }
    }
    @media screen and (max-width: 768px) {
      display: block;
      margin-bottom: 0;
      // flex-direction: column;
      & h3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 16px;
      }
      & p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
    &.adv-mob {
      display: flex;
      margin-top: 16px;
    }
  }
}
.advantages__text-item-wrap {
  margin-left: 24px;
  @media screen and (max-width: 768px) {
    margin-left: 0;
  }
}
.swiper-adv.adv-mob {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    margin-top: 16px;
  }
}

.swiper-adv .swiper-pagination-adv {
  margin-top: 20px;
  text-align: center;
}

.swiper-adv .swiper-pagination-adv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  text-align: center;
}
.swiper-pagination-adv .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #b3b1b1;
  color: #ddd;
}
.swiper-pagination-adv .swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background: $accent-color;
  color: #ddd;
}
