/*-------------------HEADER----------------*/
.header {
  margin-top: 20px;
  margin-bottom: 30px;
}
.header__container {
  //   padding: 10px 0;
}
.logo {
}
.logo a {
  width: 185px;
}
.header__menu {
  width: 50%;
  position: relative;
}
.header__menu-list {
  //   justify-content: space-between;
  /* gap: 74px; */
}
.header__menu ul li a {
  font-family: "Mulish";
  &:hover {
    color: $accent-color;
    font-weight: 700;
  }
}
// .header-menu ul li:hover,
// .header-menu ul li:active {
//   text-decoration: underline;
//   font-weight: 700;
// }
.select {
  font-family: Unbounded;
}
.menu-button {
  gap: 8px;
}
.header__tel {
  border: 1px solid $accent-color;
  background-color: transparent;
  padding: 12px 18px;
  border-radius: 48px;

  & a {
    display: flex;
    gap: 8px;
    color: $accent-color;
    line-height: 20px;
  }
  & a img {
    width: 17px;
  }
}

.menu-serv {
  position: absolute;
  // display: flex;
  // flex-direction: column;
  // gap: 20px;
  border-radius: 0 0 14px 14px;
  left: 80px;
  top: 30px;
  padding: 20px 30px 10px 30px;
  background: $primary-color;
  z-index: 10;
  -webkit-box-shadow: -2px 12px 21px 0px rgba(232, 232, 232, 1);
  -moz-box-shadow: -2px 12px 21px 0px rgba(232, 232, 232, 1);
  box-shadow: -2px 12px 21px 0px rgba(232, 232, 232, 1);
  & li {
    padding-bottom: 20px;
  }
}
