/*-------------------HEADER----------------*/
.header {
  margin-top: 20px;
  margin-bottom: 30px;
  @media screen and (max-width: 1024px) {
    &__menu {
      display: none;
    }
    &__tel {
      display: none;
    }
  }
}
.header__container {
  //   padding: 10px 0;
}
.logo {
}
.logo a {
  width: 185px;
}
.header__menu {
  width: 50%;
  position: relative;
  & ul li a {
    font-family: "Mulish";
    &:hover {
      color: $accent-color;
      font-weight: 700;
    }
  }
  // & ul {
  //   position: relative;
  // }
  & ul li:nth-child(3) {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background: url("../img/icon/CaretDown_menu.svg");
      top: 4px;
      right: -17px;
      width: 16px;
      height: 16px;
    }
  }
}
.select {
  font-family: Unbounded;
}
.menu-button {
  gap: 8px;
}
.header__tel {
  border: 1px solid $accent-color;
  background-color: transparent;
  padding: 12px 18px;
  border-radius: 48px;

  & a {
    display: flex;
    gap: 8px;
    color: $accent-color;
    line-height: 20px;
  }
  & a img {
    width: 17px;
  }
}

.menu-serv {
  position: absolute;
  // display: flex;
  // flex-direction: column;
  // gap: 20px;
  border-radius: 0 0 14px 14px;
  left: 140px;
  top: 30px;
  padding: 20px 30px 10px 30px;
  background: $primary-color;
  z-index: 10;
  -webkit-box-shadow: -2px 12px 21px 0px rgba(232, 232, 232, 1);
  -moz-box-shadow: -2px 12px 21px 0px rgba(232, 232, 232, 1);
  box-shadow: -2px 12px 21px 0px rgba(232, 232, 232, 1);
  & li {
    padding-bottom: 20px;
  }
}
