.services__list-item.swiper-slide {
  max-width: 430px;
  // height: 380px;
  height: auto;
  width: 100%;
  background: #ffffff;

  & img {
    max-width: 430px;
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 14px 14px 0px 0px;
  }
}
.services-list.swiper-wrapper {
  align-items: stretch;
  // flex-wrap: wrap;
  // gap: 42px;
  // height: 380px;
}
.swiper-services {
  // height: 380px;
}

// .swiper-slide {
//   background-position: center;
//   background-size: cover;
//   width: 430px;
// }
.swiper-services .swiper-pagination-serv {
  margin-top: 20px;
  text-align: center;
}

.swiper-serv .swiper-pagination-serv {
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  text-align: center;
}
.swiper-pagination-serv .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #b3b1b1;
  color: #ddd;
}
.swiper-pagination-serv .swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background: $accent-color;
  color: #ddd;
}
// swiper-pagination-bullet swiper-pagination-bullet-active
// .swiper-wrapper {
//   -webkit-transition-timing-function: linear !important;
//   transition-timing-function: linear !important;
// }
